.plantL,
.plantR {
  height: 70vh;
}

.plantL {
  position: relative;
  left: 2.3vw;
  top: -10vh;
}

.plantR {
  position: relative;
  left: -2.3vw;
  top: -10vh;
}

.jellyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.outerBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
